<div class="p-d-flex p-jc-between p-ai-center">
    <h2>Servers</h2>
    <p-button label="New"></p-button>
</div>
<br>
<p-tree [value]="nodes" scrollHeight="flex" selectionMode="single" [filter]="true"
(onNodeSelect)="handdleSelection($event)" class="fill-height">
    <ng-template let-node pTemplate="table">
        <div class="p-d-flex p-jc-between p-ai-center fullWidth">
            <span>{{node.label}}</span>
            <button pButton type="button" icon="pi pi-ellipsis-v"
            class="p-button-text p-button-rounded p-button-sm ghost"></button>
        </div>
    </ng-template>
    <ng-template let-node pTemplate="default">
        <b>{{node.label}}</b>
    </ng-template>
</p-tree>