.fill-height {
    flex-grow: 1;
    max-height: calc(100% - 1.5em - 3rem);
}
.fullWidth {
    width: 100%;
}
.ghost {
    opacity: 0;
}
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;

    ::ng-deep {
        .p-tree {
            background-color: var(--surface-100);
            border: none;
            padding: 0;
        }
        .p-treenode-label {
            flex-grow: 1;
        }
        .p-treenode-content:hover .ghost {
            opacity: 1;
        }
    }
}
body.dark {
    :host {
        ::ng-deep {
            .p-tree {
                background-color: var(--surface-200);
            }
        }
    }
}
