.no-pointer-events {
    pointer-events: none;
}

:host {

    height: 100%;
    overflow: auto;

    .clear-inputs {
        ::ng-deep {
            td {
                padding: 0.2rem;

                .p-dropdown,
                .p-inputtext {
                    border: none;
                }
            }
        }
    }

    ::ng-deep {
        .p-dropdown,
        .p-inputtext {
            background: transparent;
        }
    }
}
