<h2>{{ table.name }}</h2>
<br>
<p-table [value]="table.columns" styleClass="p-datatable-sm" [autoLayout]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Required</th>
      <th>Type</th>
      <th>Initial Value</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-column>
    <tr>
      <td>{{ column.name }}</td>
      <td><p-checkbox [(ngModel)]="column.required" [binary]="true"></p-checkbox></td>
      <td><p-dropdown [options]="types" [(ngModel)]="column.type"></p-dropdown></td>
      <td><p-dropdown [options]="initialOptions" [(ngModel)]="column.initialValue" [editable]="true"></p-dropdown></td>
    </tr>
  </ng-template>
</p-table>