<p-splitter stateKey="split1" [panelSizes]="[30,70]"
[style]="{'height': '100%', 'border': 'none', 'border-radius': '0'}">
  <ng-template>
    <div class="p-grid p-m-0 fluid">
      <div class="p-col-auto sidebar">
        <p-toggleButton [onIcon]="'fas fa-moon'" offIcon="fas fa-sun" styleClass="p-button-link"
        [(ngModel)]="isDarkTheme" (onChange)="changeTheme()"></p-toggleButton>
        <p-tieredMenu #langMenu [model]="languages" [popup]="true"></p-tieredMenu>
        <button pButton type="button" icon="fas fa-language" class="p-button-link"
        (click)="langMenu.toggle($event)"></button>
      </div>
        <div class="scrollable p-col p-p-0 treebar">
          <app-tree-view></app-tree-view>
        </div>
    </div>
  </ng-template>
  <ng-template>
    <p-tabView>
      <p-tabPanel header="My Table" [closable]="true">
        <app-table-view></app-table-view>
      </p-tabPanel>
      <p-tabPanel header="Query 1" [closable]="true">
        <app-query-view></app-query-view>
      </p-tabPanel>
    </p-tabView>
  </ng-template>
</p-splitter>