<p-splitter stateKey="split1" [panelSizes]="[30,70]" [style]="{'height': '100%'}">
  <ng-template>
    <div class="scrollable">
      <app-tree-view></app-tree-view>
  </div>
  </ng-template>
  <ng-template>
    <p-splitter [panelSizes]="[99,1]" layout="vertical" class="hidden-split" [gutterSize]="0">
      <ng-template>
        <div class="scrollable">
          <app-table-view></app-table-view>
      </div>
      </ng-template>
      <ng-template>
        <div class="scrollable p-p-0">
          <app-query-view></app-query-view>
        </div>
      </ng-template>
  </p-splitter>
  </ng-template>
</p-splitter>